<!-- MODAL ACTIVAR BENEFICIO-->

<div class="modal fade" id="modal-eliminara" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red; background-color:white"></i></h4>
            </div>
            <div class="modal-body">
                <h3 id="confirm-title">¿Esta seguro que desea activar la siguiente recompensa? </h3>
                <label>&nbsp;<strong id="confirm-item"></strong></label>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "beneficios", FormMethod.Post, new { data_parsley_validate = "true", autocomplete = "off" }))
                {
                    <input type="hidden" id="IdItemEliminar" name="id" />
                    <input type="reset" value="Cancelar" class="btn btn-defaut" data-dismiss="modal" id="form-beneficio-reset_activar">
                    <input id="modal_activar_promociones_button" data-backdrop="false" data-request-url="@Url.Action("Delete", "beneficios")" type="button" value="Activo" class="btn btn-primary">
                }
            </div>
        </div>
    </div>
</div>

<script>
    $("#modal_activar_promociones_button").click(function () {
        $("#modal-eliminara").modal('hide');

        $.ajax({
            type: "POST",
            url: $(this).data('request-url'),
            data: {
                id: $("#IdItemEliminar").val()
            },
            success: function (result) {

                $("#modal-eliminara").modal('hide')
                $("#form-beneficio-reset_activar").click();
                $("#promociones_button").click();
            }
        });
    });
</script>