@{
    ViewBag.Title = "_GenericModal_sm";
}
<!-- Start Modal -->
<div class="modal fade" id="modal_generic_sm" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 10px;padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal_title_sm" class="modal-title"><b id="b_modal_title_sm"></b></h4>
            </div>
            <div class="modal-body" id="modal_body_preview_sm">
            </div>
        </div>
    </div>
</div>
<!-- Start End -->