@{
    ViewBag.Title = "Por favor de revisar su correo";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Se le envio un un link para restablecer la contraseña.
    </p>
</div>
	
