<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MystiqueMeDevEntities"
          connectionString="metadata=res://*/MystiqueMCModel.csdl|res://*/MystiqueMCModel.ssdl|res://*/MystiqueMCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAMIZAMA7\MSSQLSERVER16,1435;initial catalog=MystiqueMeProduccion;user id=sa;password=gr2016!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          xdt:Transform="SetAttributes" 
          xdt:Locator="Match(name)"/>
    <add name="SecurityContext"
         connectionString="Data Source=kamizama7\MSSQLSERVER16,1435;Initial Catalog=MystiqueMeProduccion;user id=sa;password=gr2016!"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="HOSTNAME_IMAGENES" 
         value="http://k7.grupored.mx/MystiqueMc/"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="ONESIGNAL_AUTHHEADER" 
         value="Basic OTlmNTg0YTYtYjQyZi00MWY2LThhMDktM2UzNzQ4ZmE3MDVj"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="SMTP_SERVER" 
         value="mail.grupored.com.mx"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="SMTP_PORT" 
         value="25"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="SMTP_USER" 
         value="notificaciones@grupored.com.mx"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="SMTP_PASS" 
         value="Grupor3d$"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
